<html>
    <head>
        <title>Richmap</title>

        <style>
        .top_bar {
            height: 70px;
            width: 100%;
        }
        .navigate_bar {
            height: 90px;
            width: 100%;
        }
        .map_block {
            height: 480px;
            width: 100%;
        }
        .deals_block {
            height: 320px;
            width: 100%;
            display:flex;
            justify-content: space-between;
        }
        .footer_bar {
            height: 100px;
            width: 100%;
        }
        </style>
    </head>
    <body>
        {% include ['top.html'] ignore missing %}
        <hr>
        {% include ['navigatebar.html'] ignore missing %}
        {% include ['map.html'] ignore missing %}
        <hr>
        {% include ['deals.html'] ignore missing %}
        <hr>
        {% include ['footer.html'] ignore missing %}
        
    </body>
</html>
