<!-- <div class="container">
  <div class="jumbotron">
    <p class="text-center">Tell us about your business</p>      
  </div>    
</div> -->
<div class="container">

<div class="well well-lg"><h1 class="text-center">Business Information</h1></div>

<form>
<div class="form-group row">
 	<!-- <div class="logo"><p><img src="static/img/logo.png"></p></div> -->
 	<!-- <form class="form-inline" role="form"> -->
 	<div class="col-lg-3">
		<input type="text" class="form-control" 
			   placeholder="Unit Number">
 	</div>

	<div class="col-lg-3">
		<input type="text" class="form-control" 
			   placeholder="Street Number">
	</div>


	<div class="col-lg-4">
	<input type="text" class="form-control" 
		   placeholder="Street Name">
	</div>
</div>

<div class="form-group row">
 	<!-- <div class="logo"><p><img src="static/img/logo.png"></p></div> -->
 	<!-- <form class="form-inline" role="form"> -->
 	<div class="col-lg-3">
		<input type="text" class="form-control" 
			   placeholder="City">
 	</div>

	<div class="col-lg-3">
		<input type="text" class="form-control" 
			   placeholder="Province">
	</div>


	<div class="col-lg-2">
	<input type="text" class="form-control" 
		   placeholder="Postal Code">
	</div>

	<div class="col-lg-2">
	<input type="text" class="form-control" 
		   placeholder="Country">
	</div>
</div>
</form>

<form>
	<div class="form-group row">
		<div class="col-lg-3">
		<p>Business hours</p>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-2">
			<p>Monday</p>
		</div>

		<div class="dropdown">
		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">9
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">10</a></li>
		  <li><a href="#">11</a></li>
		  <li><a href="#">12</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>AM-

		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">6
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">7</a></li>
		  <li><a href="#">8</a></li>
		  <li><a href="#">9</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>PM
		</div>
	</div>

		<div class="form-group row">
		<div class="col-lg-2">
			<p>Tuesday</p>
		</div>

		<div class="dropdown">
		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">9
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">10</a></li>
		  <li><a href="#">11</a></li>
		  <li><a href="#">12</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>AM-

		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">6
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">7</a></li>
		  <li><a href="#">8</a></li>
		  <li><a href="#">9</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>PM
		</div>
	</div>

		<div class="form-group row">
		<div class="col-lg-2">
			<p>Wednesday</p>
		</div>

		<div class="dropdown">
		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">9
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">10</a></li>
		  <li><a href="#">11</a></li>
		  <li><a href="#">12</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>AM-

		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">6
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">7</a></li>
		  <li><a href="#">8</a></li>
		  <li><a href="#">9</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>PM
		</div>
	</div>

		<div class="form-group row">
		<div class="col-lg-2">
			<p>Thursday</p>
		</div>

		<div class="dropdown">
		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">9
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">10</a></li>
		  <li><a href="#">11</a></li>
		  <li><a href="#">12</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>AM-

		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">6
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">7</a></li>
		  <li><a href="#">8</a></li>
		  <li><a href="#">9</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>PM
		</div>
	</div>

		<div class="form-group row">
		<div class="col-lg-2">
			<p>Friday</p>
		</div>

		<div class="dropdown">
		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">9
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">10</a></li>
		  <li><a href="#">11</a></li>
		  <li><a href="#">12</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>AM-

		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">6
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">7</a></li>
		  <li><a href="#">8</a></li>
		  <li><a href="#">9</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>PM
		</div>
	</div>

		<div class="form-group row">
		<div class="col-lg-2">
			<p>Saturday</p>
		</div>

		<div class="dropdown">
		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">9
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">10</a></li>
		  <li><a href="#">11</a></li>
		  <li><a href="#">12</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>AM-

		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">6
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">7</a></li>
		  <li><a href="#">8</a></li>
		  <li><a href="#">9</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>PM
		</div>
		</div>


		<div class="form-group row">
		<div class="col-lg-2">
			<p>Sunday</p>
		</div>

		<div class="dropdown">
		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">9
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">10</a></li>
		  <li><a href="#">11</a></li>
		  <li><a href="#">12</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>AM-

		<button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">6
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
		  <li><a href="#">7</a></li>
		  <li><a href="#">8</a></li>
		  <li><a href="#">9</a></li>
		  <li class="divider"></li>
		  <li><a href="#">Any</a></li>
		</ul>PM
		</div>
		</div>
</form>

<form>
	<div class="form-group row">
		<div class="col-lg-3">
		<p>Contact Information</p>
		</div>
	</div>
  	<div class="form-group row">
		<div class="col-lg-4">
		<input type="text" class="form-control" 
			   placeholder="Business phone number">
 		</div>

 		<div class="col-lg-4">
		<input type="text" class="form-control" 
			   placeholder="Business website">
 		</div>
	</div>

	<div class="form-group row">
		<div class="col-lg-4">
		<input type="text" class="form-control" 
			   placeholder="Name of the contact person">
 		</div>

 		<div class="col-lg-4">
		<input type="text" class="form-control" 
			   placeholder="Contact phone number">
 		</div>
	</div>
</form>


<div class="row">
	<div class="col-lg-4">
	<button type="button" class="btn btn-primary btn-lg">Continue</button>
	</div>
</div>

</div>