
<div class="row">
    <div class="col-lg-3">
    <h4 class="header-in-row">Richmap</h4>
        <ul class="footer-col-1">
            <li><a href="#">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Policies</a></li>
            <li><a href="#">Help</a></li>
        </ul>       
    </div>
    <div class="col-lg-4">
        <h4>Work with Richmap</h4>
    </div>
    <div class="col-lg-2">
        <h4>Follow us</h4>
        <ul class="list-unstyled">
            <li>
                <span><a href="#"><img src="static/img/Facebook.png"></a></span>
                <span><a href="#"><img src="static/img/Instagram.png"></a></span>
            </li>
        </ul>        
    </div>
</div>