<div class="footer">
    <ul >
    	<li class="footer_col1">
    		<h4>Richmap</h4>
    		<div>
    			<ul>
    				<li><a href="#">About us</a></li>
    				<li><a href="#">Careers</a></li>
    				<li><a href="#">Policies</a></li>
    				<li><a href="#">Help</a></li>
    			</ul>
    		</div>
    	</li>
    	<li class="footer_col2">
    		<h4>Work with Richmap</h4>
    		<div>
    		</div>
    	</li>
    	<li class="footer_col3">
    		<h4>Follow us</h4>
    		<div>
    			<ul>
    				<li>
    					<span><a href="#"><img src="static/img/Facebook.png"></a></span>
    					<span><a href="#"><img src="static/img/Instagram.png"></a></span>
    				</li>
    			</ul>
    		</div>
    	</li>
    </ul>
</div>