<html>
    <head>
        <title>Richmap</title>

        <style>
        .top_bar {
            height: 70px;
            width: 100%;
        }
        .navigate_bar {
            height: 90px;
            width: 100%;
        }
        .map_block {
            height: 480px;
            width: 100%;
        }
        .deals_block {
            height: 160px;
            width: 100%;
        }
        .footer_bar {
            height: 100px;
            width: 100%;
        }
        </style>
    </head>
    <body>
    {% include ['top.html'] ignore missing %}
    <hr>
    {% include ['navigatebar.html'] ignore missing %}
    <h1>Sign In</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.shopname.label }}<br>
            {{ form.shopname(size=32) }}<br>
            {% for error in form.shopname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.shoppertype.label }}<br>
            {{ form.shoppertype(size=32) }}<br>
            {% for error in form.shoppertype.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>       
        <p>
            {{ form.coupon.label }}<br>
            {{ form.coupon(size=32) }}<br>
            {% for error in form.coupon.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.coupontype.label }}<br>
            {{ form.coupontype(size=32) }}<br>
            {% for error in form.coupontype.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.photo }}
            {% for error in form.photo.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    </body>
</html>
