<!-- <div class="nav">
	<ul>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/auto.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/beauty.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/clothing.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/babies.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/clothing copy.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/clothing copy 2.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/auto copy.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/babies copy.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/beauty copy.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/clothing.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/auto.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/clothing.png"></a></li>
		<li class="nav-item"><a href="#" class="nav-link"><img src="static/img/babies.png"></a></li>
	</ul>
</div>	 -->

  <div class="row navigate_bar">
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/beauty.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/clothing.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/babies.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/clothing copy.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto copy.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/babies copy.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
  </div>

