<div class="navigate_bar">
	<ul>
		<li><a href="#"><img src="static/img/auto.png"></a></li>
		<li><a href="#"><img src="static/img/beauty.png"></a></li>
		<li><a href="#"><img src="static/img/clothing.png"></a></li>
		<li><a href="#"><img src="static/img/babies.png"></a></li>
		<li><a href="#"><img src="static/img/clothing copy.png"></a></li>
		<li><a href="#"><img src="static/img/clothing copy 2.png"></a></li>
		<li><a href="#"><img src="static/img/auto copy.png"></a></li>
		<li><a href="#"><img src="static/img/babies copy.png"></a></li>
		<li><a href="#"><img src="static/img/beauty copy.png"></a></li>
		<li><a href="#"><img src="static/img/clothing.png"></a></li>
		<li><a href="#"><img src="static/img/auto.png"></a></li>
		<li><a href="#"><img src="static/img/clothing.png"></a></li>
		<li><a href="#"><img src="static/img/babies.png"></a></li>
	</ul>
</div>	