  <div class="row navigate_bar">
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/beauty.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/clothing.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/babies.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/clothing copy.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto copy.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/babies copy.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
    <div class="col-lg-1">
      <a href="#" class=""><img src="static/img/auto.png"></a>
    </div>
  </div>

