<!-- <div class="nav">
	<div class="row"> -->
		<!-- <div class="logo"><p><img src="static/img/logo.png"></p></div> -->
<!--  	<div class="col-lg-1"><p><img src="{{ url_for('static', filename='img/logo.png') }}"></p></div>
 	<div class="col-lg-3">
 		<p> -->
 			<!-- reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar2 -->
 			<!-- https://www.w3schools.com/css/css_form.asp -->
<!-- 		<form method="POST" enctype="multipart/form-data">
			<input type="text" placeholder="Search.." width="60" name="search">
			<button type="submit">Submit</button>
		</form>
		</p>
	</div>
	<div class="col-lg-3">
	</div>
	<div class="col-lg-3">
			<ul>
			  <li><a href="{{ url_for('register') }}">Become a member</a></li>
			  <li><a href="#news">Sign in</a></li>
			  <li><a href="#contact">Help</a></li>
			</ul>
	</div>
	</div>
</div> -->

<nav class="navbar top_bar navbar-expand-lg">
	<!-- <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30"></a> -->
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" width="40px"></a>
		</div>

		<form class="navbar-form navbar-left col-lg-3">
		<!-- 	    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
			<div class="form-group">
				<input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
			</div>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>

		<ul class="nav navbar-nav navbar-right col-lg-3">
			<li class="active"><a href="{{ url_for('register') }}">Become a merchant</a></li>
			<li><a href="#">Sign in</a></li>
			<li><a href="#">Help</a></li>
<!-- 	    <li class="nav-item">
	      <a class="nav-link active" href="#fat">Become a merchant</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#mdo">Sign in</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#mdo">Help</a>
	  </li> -->
		</ul>
</div>
</nav>